@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
      <div class="hero-unit">
          <h2>Are you sure?</h2>
          <p>Do you realy want to recreate the database. This is a destructive action.</p>
          <p>Type "I am sure" to continue.</p>
          <form  method="post">
          <input id="txtPassword" name="txtPassword" />
          <input type="submit" value="continue"></input>
          </form>
      </div>
    </div>
