@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administration</h1>
<h2>Re-create all database</h2>

<style type="text/css">
    body {
        margin: 30px;
        font-family: Arial;
        font-size: 1.5em;
    }
    div {
        margin: 20px;
    }
    input {
        font-size: 0.9em;
        width: 360px;
    }
    button {
        font-size: 0.8em;
    }
</style>


<form  method="post">
    <div>
        <label>Are you sure?</label>
        <input id="txtPassword" name="txtPassword" />
        <button type="submit">GO</button>
    </div>
</form>
