.linhaSelecionada
{
    background-color: #efffe7;
}
.table-selection
{
    cursor: pointer;
}
#divDebug {
    display: none;
}
#divLog {
    display: none;
    overflow: auto;
    max-height: 390px;
    padding: 10px;
}