.linhaSelecionada
{
    background-color: #efffe7;
}
.table-selection
{
    cursor: pointer;
}
#divDebug {
    display: none;
    padding: 10px;
}
#divLog {
    display: none;
    padding: 10px;
}

#divDebug pre, #divLog pre{
    font-family: Consolas, "Courier New";
    font-size: 0.9em;
    background-color: #effefe;
}

#divDebug pre{
    max-height: 595px;
    overflow: auto;
}
#divLog pre{
    max-height: 390px;
    overflow: auto;
}