@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <div>
        <a href="Scripts/ajaxRestHelper/qUnitTests/Tests.html">qUnit tests</a>
    </div>
    <div>
        <a href="Pizza/PizzaGerenciador.html">Pizza/PizzaGerenciador</a>
    </div>
    <div>
        <a href="IngredienteTable/IngredienteTable.html">IngredienteTable/IngredienteTable</a>
    </div>
    <div>
        <a href="@Url.Content("~/Administration/RecreateDataBase")">Administration</a>
    </div>
